$main-color: #F0F4C3;

html {
  body {
    background-color: $main-color;
    color: #FFF;
  }
}

.app-title {
  color: #ff3466;
}

#nav-library {
  width: 340px;
  border: none;
  margin: 0 auto 20px auto;
  li {
    a:hover, a:active, a:focus {
      background-color: #383B76;
      color: #fff;
      border: none;
    }
  }
}

.tab-active {
  background-color: #383B76;
  color: #fff;
  border-bottom: 4px solid #ff3466 !important;
}

.book-item {
  height: 400px;
}

.book-icon {
  font-size: 30px;
  color: #f1f1f1;
  height: 100%;
  width: 100%;
}

.book-icon::before {
  position: relative;
  top: 2px;
  left: 1px;
}

.tooltip.bottom .tooltip-inner {
    background-color: #ff3466;
    font-size: 14px;
  }


.cover-container {
  height: 300px;
  width: 200px;
  position: relative;
  margin: 0 auto;
}

.book-cover {
  height: 300px;
  width: 200px;
}

.btn-favourite {
  position: absolute;
  bottom: 10px;
  right: 50px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: #F26F54;
}

.btn-read {
    position: absolute;
    bottom: 10px;
    right: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #3FB98C;
}

.btn-favourite-active .book-icon, .btn-read-active .book-icon{
  color: #383B76;
}

.book-title, .page-empty {
  color: #424242;
}

@media (max-width: 410px) {
  #nav-library {
    width: 140px;  
    li {
      width: 140px;
      margin-bottom: 10px;
      a {
        text-align: center;
      }
    }
  }
}
